[MAIN]
DEBUG = True
SECRET_KEY = rnojxd^^kaofaw696cj5g_ce($e2uq2xhm*&$05kp0*m&7_4na
ALLOWED_HOSTS = 127.0.0.1,172.16.20.120


[DATABASE]
DATABASE_ENGINE = django.db.backends.sqlite3
DATABASE_NAME = db.sqlite3
DATABASE_USER = DB_USER_NAME
DATABASE_PASSWORD = DB_PASSWORD
DATABASE_HOST = localhost
DATABASE_PORT = PORT_NUMBER


[CHANNEL]
CHANNEL_PORT = 6379