[supervisord]

logfile = /ai/logs/supervisord.log



[program:tcpsocket]

directory=/ai/ai-chatfilter-service

command=/ai/venv/bin/python tcpsocket/main.py -p 8025

autostart=true
autorestart=true

stdout_logfile=/ai/logs/tcpsocket.log
stdout_logfile_maxbytes=10MB
stdout_logfile_backups=8

stderr_logfile=/ai/logs/tcpsocket-error.log

redirect_stderr=true



[program:django]

directory=/ai/ai-chatfilter-service

command=/ai/venv/bin/python manage.py runserver 0.0.0.0:8000

autostart=true
autorestart=true

stdout_logfile=/ai/logs/django.log
stdout_logfile_maxbytes=10MB
stdout_logfile_backups=5

stderr_logfile=/ai/logs/django-error.log

redirect_stderr=true

